<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<nav class="navbar navbar-expand-lg  mynav nav">
  <div>
    <a class="navbar-brand " href=""><img src="assets/images/logo staranzano.png" width="60px" height="60px"></a>
  </div>

  <div class="navbar-toggler btn-group " type="button" dropdown data-toggle="collapse" data-target="#navbarNavDropdown; #social" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <button  dropdownToggle type="button"  class="btn  " style="background: none; border: none; border-radius: 0px; float: right" >
      <i class="fa fa-list-ul fa-2x social"></i>
    </button>
    <ul  *dropdownMenu class="dropdown-menu"
         role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" href="#">Home</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Le Squadre</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Staff</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">La Storia</a>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Contattaci</a>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a  href="https://www.facebook.com/asdterenzianastaranzano/">
          <i class=" fa fa-facebook-square fa-2x  col-1 socialnav"></i></a>
        <a  href="https://www.youtube.com/watch?v=z2OiHFTyqvg">
          <i class=" fa fa-youtube fa-2x col-1 offset-1 socialnav"></i></a>
        <a href="https://www.facebook.com/asdterenzianastaranzano/">
          <i class=" fa fa-instagram fa-2x  col-1 offset-1 socialnav"></i></a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse col-lg-8 " id="navbarNavDropdown">
    <ul class="navbar-nav navbar-left" style="float: left">


      <li class="nav-item active col-lg-2">
        <a class="nav-link font" href="">HOME </a>
      </li>



      <li class="nav-item col-lg-2">
        <div class="btn-group" dropdown>
          <button id="btn-staff" dropdownToggle type="button"  class="btn  dropdown-toggle font squadre"
                  aria-controls="dropdown-basic" style="background: none; border: none; border-radius: 0px">
            STAFF <span class="caret"></span>
          </button>
          <ul id="dropdown-staff" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" href="Squad">STAFF Tecnico</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">STAFF Societario</a></li>
          </ul>
        </div>
      </li>


      <li class="nav-item col-lg-2 ">
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button"  class="btn  dropdown-toggle font squadre"
                  aria-controls="dropdown-basic" style="background: none; border: none; border-radius: 0px">
            SQUADRE <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">

            <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
              <a dropdownToggle class="dropdown-item dropdown-toggle"
                 (click)="true">Prima Squadra <span class="caret"></span></a>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem"><a class="dropdown-item" href="Squad">Rosa</a></li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem"><a class="dropdown-item" href="Fi">Prossime Partite</a></li>
              </ul>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Juniores</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Giovanissimi</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Pulcini</a>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Primi Calci</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item col-lg-3">
        <div class="btn-group" dropdown>
          <button id="btn-other" dropdownToggle type="button"  class="btn  dropdown-toggle font squadre"
                  aria-controls="dropdown-basic" style="background: none; border: none;margin-left: 30%; border-radius: 0px">
            ALTRO <span class="caret"></span>
          </button>
          <ul id="dropdown-other" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic" style="margin-left: 30%">
            <li role="menuitem"><a class="dropdown-item" href="Squad">NEWS</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">STORIA</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">GALLERY</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item col-lg-1">
        <a class="nav-link font" href="Contact">CONTATTACI</a>
      </li>



    </ul>


  </div >
  <div id="social" class="collapse navbar-collapse offset-1 col-lg-2">
    <ul class="nav navbar-right " style="float: right">
      <div class="offset-1">
        <li><a href="https://www.facebook.com/asdterenzianastaranzano/"> <i class=" fa fa-facebook-square fa-2x social"></i></a></li>
      </div>
      <div class="offset-1">
        <li><a href="https://www.youtube.com/watch?v=z2OiHFTyqvg"> <i class="fa fa-youtube fa-2x social"></i> </a></li>
      </div>
      <div class="col-lg-1">
        <li><a href="#"><i class="  fa fa-instagram fa-2x social"></i> </a></li>
      </div>

    </ul>
  </div>
</nav>

<div class="  background col-lg-12">


  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 nextMatchTitle"  style="text-align: center">
     PROSSIMO MATCH
    </div>
    <div class="col-lg-2"></div>
  </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 nextMatch"  style="text-align: center">
        <div >{{nextMatch.Data | date:'yyyy/MM/dd HH:mm:ss' }} </div>
        <div *ngIf="nextMatch.Luogo != 'Casa' ">{{nextMatch.Sq_Avversaria}} - STARANZANO</div>
        <div *ngIf="nextMatch.Luogo != 'Fuori Casa'">STARANZANO - {{nextMatch.Sq_Avversaria}}</div>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="body" *ngIf="nextMatch" >
      <div *ngIf="nextMatch.Data" class="clock-container">
        <div class="clock-col">
          <p class="clock-day clock-timer">
            {{days}}
          </p>
          <p class="clock-label">
            Day
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-hours clock-timer">
            {{hours}}
          </p>
          <p class="clock-label">
            Hours
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-minutes clock-timer ">
            {{minutes}}
          </p>
          <p class="clock-label">
            Minutes
          </p>
        </div>
        <div class="clock-col">
          <p class="clock-seconds clock-timer">
            {{seconds}}
          </p>
          <p class="clock-label">
           Seconds
          </p>
        </div>
      </div>
    </div>

</div>



  <div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 ">
    <table class="table table-striped  table-hover table-bordered " style="color: black">
      <thead>
      <tr style="background: #d9534f; color: white">

        <th scope="col">Data  <i class="fa fa-calendar" aria-hidden="true"></i></th>
        <th scope="col">Incontro  <i class="fa fa-futbol-o" aria-hidden="true"></i></th>


      </tr>
      </thead>
      <tbody *ngFor="let m of match">
      <tr class="table-light">
        <td style="text-align: center">{{m.Data | date: "dd/MM/yyyy"}}</td>
        <td *ngIf="m.Luogo != 'Casa' ">{{m.Sq_Avversaria}} - STARANZANO</td>
        <td *ngIf="m.Luogo != 'Fuori Casa'">STARANZANO - {{m.Sq_Avversaria}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>



