@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);


.nav{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.squad {
  text-align: center;
}

.nextMatchTitle{
  margin-top: 2%;
  font-size: 70px;
}
.nextMatch{
  margin-top: 5%;
  font-size: 50px;
}
.date{
  margin-top: 10%;
}

.clock-day:before {
  content: var(--timer-day);
}
.clock-hours:before {
  content: var(--timer-hours);
}
.clock-minutes:before {
  content: var(--timer-minutes);
}
.clock-seconds:before {
  content: var(--timer-seconds);
}

.background{
  width: 100%;
  background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
  font-family: "Montserrat", "sans-serif";
  min-height:1200px;
}

.body {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;


}
.clock-container {
  font-family: "Montserrat", "sans-serif";
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #080808;
  border-radius: 5px;
  padding: 60px 20px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
  display: flex;
}
.clock-col {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 90px;
  position: relative;
  font-size: 30px;
}
.clock-col:not(:last-child):before,
.clock-col:not(:last-child):after {
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: -42px;
}
.clock-col:not(:last-child):before {
  top: 35%;
}
.clock-col:not(:last-child):after {
  top: 50%;
}
.clock-timer:before {
  color: white;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.clock-label {
  color: white;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-top: 10px;
}
@media (max-width: 825px) {
  .clock-container {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .clock-col + .clock-col {
    margin-top: 20px;
  }
  .clock-col:before,
  .clock-col:after {
    display: none !important;
  }
}

.calendario{
  margin-top: 10%;
}


h1 {
  color: red;
  font-family: 'Cardo', serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
  line-height: 2.2em;
}
em {
  font-family: 'EB Garamond', serif;
  font-size: 3.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: block;
  font-style: normal;
  padding-top: 0.1em;
  text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);
}
em::before,
em::after {
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.2;
  margin: 0 0.6em;
  font-size: 0.5em;
}
.bottom {
  font-size: 1.5em;
  letter-spacing: 0.07em;
  font-size: 1em;
  display: block;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
}


.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}
