.title{
  font-size: 8vw;
  margin-top: 10%;
  text-align: center;
}

.nav{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.backgroundGallery{
  width: 100%;
  font-family: "Montserrat", "sans-serif";
  min-height:900px;
}
