/* You can add global styles to this file, and also import other style files */




.squadre{
  margin-top: 1%;
}
.navbar-toggler{
  margin-right: 10%;
}
.navbar-brand{
  padding: 0;
}

.mynav{
  background: rgba(238,17,0,0.8);
  position: fixed;
  width:100%;
  z-index:5000;
  max-width:100%;
}

.font{
  color: white;
  font-size: larger;
  font-family: "American Typewriter";
}

.social{
  color: white;

}
.socialnav{
  color: black;
}


.timeline{
  position: relative;

}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

.title-line-one{
  float: left;
  width: 20%;
  height: 10px;
  color: white;
  background-color: white;


}

.title-line-two{
  float:left;
  clear: left;
  width: 30%;
  height: 10px;
  color: red;
  background-color: red;
}


.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;

}
.centered5 {

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Centered text */
.centered {

  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.centered1 {

  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.centered3 {
  color: white;
  font-size: 120px;
  font-family: Bookman;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.centered4 {
  color: white;
  font-family: Bookman;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.wrapper{
  display: flex;
  justify-content: center;

}

.wrapper1{
  margin-top: 5%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7F7F7;
  border-bottom: solid 2px #EFEFEF;
  border-top: solid 2px #EFEFEF;
  font-family: Impact, fantasy;
}

.centered6 {

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered7 {

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 150px;
  transform: translate(-50%, -50%);
}

.centered8 {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.centered9 {

  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.thumbnail{
  border: solid 1px black;
  text-align: center;

}

.riga{
  background-color: #d9534f;
  height: 40px;
  width: 100%;
}

.titolo1{
  font: bold 70px "Century Schoolbook", sans-serif, Times, serif;
  color: white;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: 2px;xe: 40px;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

.titolo2{
  font: bold 70px "Century Schoolbook", sans-serif, Times, serif;
  color: #d9534f;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: 2px;xe: 40px;
}

.centered10{
  color: white;
  font-family: Bookman;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.centered11{
  color: white;
  font-family: Bookman;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.centered12{
  color: white;
  font-family: Bookman;
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

