/* You can add global styles to this file, and also import other style files */




.squadre{
  margin-top: 1%;
}
.navbar-toggler{
  margin-right: 10%;
}
.navbar-brand{
  padding: 0;
}

.mynav{
  background: rgba(238,17,0,0.8);
  position: fixed;
  width:100%;
  z-index:5000;
  max-width:100%;
}

.font{
  color: white;
  font-size: larger;
  font-family: "American Typewriter";
}

.social{
  color: white;

}
.socialnav{
  color: black;
}


